<div class="order-header">
  <h1 class="order-header-heading">Orders</h1>
  <hr class="order-bottom-underline" />
  <div class="search-filters-container">

    <div class="filter-div search-input-div">
      <img src="assets/icons/search-icon.png" class="icon" />
      <input
        type="text"
        class="search-input"
        placeholder="Search by any parameter . . ."
        (keyup)="onKeyUp($event)"
        [(ngModel)]="searchText"
      />
    </div>

    <app-custom-select [selectOf]="'status'"></app-custom-select>

    <app-custom-select [selectOf]="'distribution'"></app-custom-select>

    <div class="btn export-to-excel-btn" (click)="exportToExcelEvent()">
      <img class="icon" src="assets/icons/download-icon.png" />
      <span>Export Order(s)</span>
    </div>

  </div>
</div>
