.order-header {
  background: #e5e5e5;
  padding: 21px 34px 22px 27px;
  font-size: 16px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.order-bottom-underline {
  border: 2px solid #dddddd;
}

.order-header-heading {
  font-size: 24px;
  color: #000000;
}

/* Search and Dropdown filters styling */
.search-filters-container {
  display: flex;
  flex-wrap: nowrap;
}
.filter-div {
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 16px;
  font-size: 16px;
}

.status-filter-div {
  width: 255px;
}

.filter-content {
  width: 200px;
  border: none;
  color: #9c9c9c;
}


.icon {
  margin: 12.5px 13.5px;
  width: 20px;
  height: 20px;
}

.search-input-div {
  width: 375px;
}

.search-input {
  border: none;
  width: 300px;
}

input:focus {
  outline: none;
}
.export-to-excel-btn {
  font-size: 18px;
  margin-left: auto;
  background: #17c3b2;
  border-radius: 25px;
  width: 255px;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

/* custom dropdown icon */
select {
  background: url("../../../assets/icons/drop-down-icon.png") 100% 50% no-repeat
    transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
