.dropdown-body {
  display: none;
  overflow: hidden;
  background: white;
  background-color: aqua;
}

.dropdown-body-active{
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cust-dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 400;
  color: #212529;
  text-decoration: none;
  white-space: nowrap;
}

.inside{
  margin-left: auto;
}
