<div class="order-page-body">
  <label class="checkbox-div"
    >All Orders
    <input
      type="checkbox"
      [(ngModel)]="masterSelected"
      (change)="checkUncheckAll()"
    />
    <span id="check-all-checkbox" class="checkmark"></span>
    <span class="no-of-orders-selected"
      >({{ noOfChecked }} orders Selected)</span
    >
  </label>

  <table class="custom-table">
    <tr>
      <td></td>
      <td>Ref.ID</td>
      <td>Customer</td>
      <td>Product (s)</td>
      <td>Date</td>
      <td>Distribution</td>
      <td>Status</td>
      <td>Price</td>
    </tr>
    <ng-container>
      <tr *ngFor="let order of filteredOrders">
        <td class="checkbox-column">
          <label class="checkbox-div">
            <input
              type="checkbox"
              [(ngModel)]="order.isSelected"
              (change)="isAllSelected(order.refId, $event)"
            />
            <span class="checkmark"></span>
          </label>
        </td>
        <td>{{ order.refId }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.product }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.distribution }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.price }}</td>
      </tr></ng-container
    >
  </table>
</div>
