<div class="order-header">
  <h1 class="order-header-heading">Orders</h1>
  <hr class="order-bottom-underline" />
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="search-input-div">
          <img src="assets/icons/search-icon.png" class="icon" />
          <input
            type="search"
            class="search-input"
            placeholder="Search by any parameter . . ."
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="status-filter-div">
          <img src="assets/icons/status-icon.png" class="icon" />
          <select class="filter" name="cars" id="cars" placeholder="Status">
            <option value="" disabled selected>Status</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </div>

        <div class="status-filter-div">
          <img src="assets/icons/status-icon.png" class="icon" />
          <select class="filter" name="cars" id="cars" placeholder="Status">
            <option value="" disabled selected>Distribution</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 export-div">
        <div class="btn export-to-excel-btn">
          <img class="icon" src="assets/icons/download-icon.png" />
          <span>Export Orders</span>
        </div>
      </div>
    </div>
  </div>
</div>
