<div class="order-header">
  <h1 class="order-header-heading">Orders</h1>
  <hr class="order-bottom-underline" />
  <div class="search-filters">

    <div class="search-input-div">
      <img src="assets/icons/search-icon.png" class="icon" />
      <input
        type="search"
        class="search-input"
        placeholder="Search by any parameter . . ."
      />
    </div>

    <div class="status-filter-div">
      <img src="assets/icons/status-icon.png" class="icon" />
      <select class="filter" name="cars" id="cars" placeholder="Status">
        <option value="" disabled selected>Status</option>
        <option value="Placed">Placed</option>
        <option value="In Transit">In Transit</option>
        <option value="Out for Delivery">Out for Delivery</option>
        <option value="Delivered">Delivered</option>
      </select>
    </div>

    <div class="status-filter-div">
      <img src="assets/icons/status-icon.png" class="icon" />
      <select class="filter" name="cars" id="cars" placeholder="Status">
        <option value="" disabled selected>Distribution</option>
        <option value="Bangalore">Bangalore</option>
        <option value="Hyderabad">Hyderabad</option>
        <option value="Patna">Patna</option>
      </select>
    </div>

    <div class="btn export-to-excel-btn">
      <img class="icon" src="assets/icons/download-icon.png" />
      <span>Export Orders</span>
    </div>
  </div>
</div>
